@import url('https://fonts.googleapis.com/css?family=Gruppo|Londrina+Outline|Londrina+Shadow|Londrina+Sketch|Londrina+Solid');

body {
	overflow-x: hidden;
}

#loginForm {
	text-align: center;
	margin-top: 25%;
}

#welcome {
	font-family: "Londrina Shadow";
	background-color: white;
	font-size: 100px;
}

#username, #password {
	width: 420px;
	height: 60px;
	font-size: 30px;
<<<<<<< HEAD
	margin-left: 23%;
=======
	margin-left: 25%;
>>>>>>> master
}

#login {
	width: 200px;
	height: 70px;
	background-color: white;
	border: 1px solid #000;
	font-family: "Londrina Solid";
	font-size: 40px;
	border-radius: 3%;
}

#userNav {
	text-align: right;
	margin-right: 5px;
	margin-bottom: 0px;
}

#usernameDisplay, #logout {
	margin: 0 auto;
	padding: 0px;
	font-family: "Gruppo";
	font-size: 24px;
	font-weight: bold;
	color: #929292;
}

#logout {
	color: #606060;
}

a {
	color: #000;
}

/*for developmental purposes*/
/*----------------------------*/
a:hover {
	text-decoration: none;
	color: #444;
}

a:focus {
	text-decoration: none;
	color: #ff7f2a;
}

a:active {
	text-decoration: none;
	color: #000;
}
/*----------------------------*/

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10%;
}

::-webkit-scrollbar-track {
  background: #fff; 
}

#manageSchools {
	border: none;
	border-radius: 2%;
	background: #ebebeb;
	color: #929292;
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px;
	font-size: 18px; 
}


#manageSchoolsCol {
	text-align: center;
}

#manageGoals {
	border: none;
	border-radius: 2%;
	background: #ebebeb;
	color: #929292;
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px;
	font-size: 18px; 
}

#schoolSearchRow {
	height: 170px;
}

#schoolSearchForm {
	margin-top: 15%;
}

#listOfSchools {
	height: 200px;
}

#schoolNameLabel {
	font-size: 30px;
	color: #888;
	letter-spacing: 0.1em;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-family: "Londrina Sketch";
	background-color: white;
}

#schoolSearch {
	width: 100%;
	border: #606060 solid 1px;
	height: 50px;
	font-size: 20px;
}

#addSchool {
	background-color: transparent;
	border: none;
	background: url("../images/addSchool.png") no-repeat;
	background-size: 45px;
	background-position: right;
	text-align: left;
	margin-top: 110%;
	font-size: 25px;
	width: 85px;
}

#addSchoolLink {
	color: #939393;
}


li {
	list-style: none;
}

ul {
	margin: 0 auto;
	padding: 0px;
}

.school {
	padding: 15px;
	padding-left: 55px;
	border: 1px #606060 solid;
	border-top: none;
	width: 100%;
	background: url("../images/school.png") no-repeat;
	background-size: 45px;
	background-position: left;
	font-size: 24px;

}

/*development purposes (will not effect ipad)*/
/*-------------------------------------*/
.school:hover {
	text-decoration: none;
	background-color: #e8e8ee;
}
/*------------------------------------*/


.school:active {
	border: 2px #606060 solid;
}

.active {
	color: #ff7f2a;
}

#schoolList {
	margin-top: 0px;
	overflow: auto;
	height: 200px;
}


#selectedSchool {
text-align: center;
padding-top: 10px;
}

.schoolNameTitle {
	font-family: "Londrina Shadow";
	font-size: 80px;
	color: #484848;
	margin-bottom: 0px;
	background-color: white;
}

#addStudent {
	background-color: white;
	border: none;
	border: solid 2.5px #484848;
	border-radius: 50%;
	background: url("../images/addstudent.svg") no-repeat;
	background-size: 48px;
	background-position: top;
	text-align: center;
	height: 45px;
	width: 45px;
	font-size: 20px;
	margin-left: 43%;
	
}

#addStudent:focus {
	background: url("../images/addstudentFocus.svg") no-repeat;
}


#studentList {
	position: relative;
	overflow: auto;
	font-family: "Gruppo";
	margin-top: 0px;
	height: 450px;
	margin-bottom: 15px;
	width: 80%;
	text-align: left;
	left: 100px;
}

.studentIcon {
	margin: 0 auto;
	width: 100px;
	position: relative;
	left: 70px;
}

.studentInfo {
	background: url(/images/info.svg);
	border: none;
	width: 40px;
	height: 40px;
	margin-top: 65px;
	position: relative;
	right: 60px;
}

.studentInfo:hover {
	cursor: pointer;
}

.deleteGoalTrashcan {
	background: url(/images/delete50x50.png);
	border: none;
	width: 50px;
	height: 50px;
	margin-top: 30px;
	position: relative;
	right: 0;
}

.deleteGoalTrashcan:hover {
	cursor: pointer;
}

.modalFooter {
	margin-top: 50px;
}

.studentInfoClose {
	color: #5cacee;
	font-weight: 700;
	border: 1px dashed;
	width: 120px;
	height: 40px;
	margin-top: 0px;
	margin-left: 150px;
	background: transparent;
}

.studentName {
	display: inline;
	font-size: 30px;
	position: relative;
	top: 35px;
	left: 20px;
	color: #444;
	background-color: white;
}

.infoLabel {
	font-weight: 500;
	float: left;
	color: #5cacee;
	margin: 5px 2px;
}

.infoContent {
	float: left;
	margin: 5px 2px;
}

.clearLabel {
	clear: left;
}

/*student page*/
/*aka GoalContainer*/

#backToSchool {
	width: 50px;
	margin-bottom: 10px;
	margin-top: 20px;
}


#studentHeader {
	text-align: center;
}

#studentNameTitle {
	font-family: "Londrina Shadow";
	color: #606060;
	font-size: 85px;
	margin-bottom: 0px;
	background-color: white;
}

#addGoal {
	width: 40px;

}

#addGoalPlus {
	font-size: 40px;
	color: #4dd7fa;
	margin-top: 0px;
	margin-left: 360px;
}

#studentInfo {
	width: 45px;
	cursor: pointer;
}

#studentGoalCol, #studentObjCol, #studentTaskCol {
	text-align: center;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 30px;
}

#studentGoalCol {
	overflow-y: auto;
}

#goalContainer {
	width: 220px;
	height: 100%;
	margin-left: 30px;
}

#deleteGoal {
	width: 50px;
}

#goalTitle {
	
	font-family: "Londrina Solid";
	font-size: 50px;
	color: #444;
	margin-top: 0px;
}

#goalDesc {

	font-family: "Gruppo";
	font-size: 25px;
	color: #444;

}

#objContainer {
	width: 240px;
	height: 100%;
	margin-right: 5px;
	margin-left: 0px;
	margin-top: 10px;
}

#deleteObj {
	float: left;
	margin-left: 5px;
	color: #f99;
}
#studentObjective {
	font-family: "Londrina Solid";
	margin-top: 20px;
	border: 2px solid #888;
}

.addObjective {
	background-color: #e8e8ee;
	color: #606060;
	font-family: "Londrina Outline";
	font-size: 20px;
	padding: 10px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;

}

#taskContainer {
	width: 240px;
	height: 100%;
	margin-right: 30px;
	overflow-y: auto;
}

#addTask {
	position: relative;
	font-family: "Londrina Sketch";
	background-color: #e8e8ee;
	color: #606060;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	top: 10px;
	margin-right: 20px;

}

#tasks {
	position: relative;
	top: 10px;
	margin-right: 20px;
}

#deleteTask, #deleteEvaluation {
	margin-top: 20px;
	width: 45px;
}

#individualTasks {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: dashed 2px #4dd7fa;
}

#evaluation {
	border: dotted 1px #999;
	margin-bottom: 10px;
}

#addEval {
	font-family: "Gruppo";
	background-color: #e8e8ee;
	color: #222;
	font-size: 14px;
	padding: 5px;
	font-weight: bold;
}

#taskDesc {
	font-family: "Londrina Solid";
	color: #606060;
	font-size: 24px;
}

#evalDate {
	font-family: "Gruppo";
	color: #ff7f2a;
	margin: 0 auto;
	font-weight: bold;
}

#evalComment {
	font-family: "Gruppo";
	color: #222;
	font-size: 15px;
	font-weight: bolder;
	margin: 0 auto;
}

#evalScore {
	background: #555;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 0px;
}

/*add school form*/
#addSchoolCont {
	text-align: center;
}

#schoolForm {
	text-align: left;
	width: 80%;
	margin-left: 3%;
}

#addSchoolTitle {
	font-family: "Londrina Shadow";
	font-size: 60px;
}

#addSchoolBtns {
	text-align: right;
}

.addSchoolLabel {
	font-family: "Londrina Sketch";
	color: #606060;
	margin: 0 auto;
	font-size: 25px;
	margin-top: 10px;
}

#saveSchool {
	margin-left: 10px;
	border: 1px solid #606060;
	border-radius: 5%;
	background-color: #c0d890;
	color: #555;
	font-family: "Londrina Solid";
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
}

#cancelSchool {
	border: 1px solid #606060;
	border-radius: 5%;
	background-color: #ed4337;
	color: #555;
	font-family: "Londrina Solid";
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
}

#cancelLink {
	color: #f3f3f3;
}

/*add student form*/

#schoolNameHeader {
	background: url("../images/addstudentForm.svg") no-repeat;
	width: 50%;
	height: 190px;
	background-size: 180px;
	background-position: left;
	position: relative;
	left: 25%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 113px;
	padding-left: -50px;
	font-family: "Londrina Outline";
	font-size: 40px;
	color: #888;

}

#addStudentCont {
	text-align: center;
}

#schoolForm {
	width: 75%;
	position: relative;
	left: 12%;
	margin-top: 4px;
}

#studentName, #DOB {
	font-family: "Londrina Outline";
	color: #444;
	font-size: 30px;
}

#student_name, #birthdate {
	border-radius: 0%;
}

#parentEmail, #lastIEP, #settingH, #eligibilityH {
	display: inline;
	font-family: "Londrina Outline";
	color: #444;
	font-size: 30px;

}

#parent_email, #last_IEP_date, #setting, #eligibility {
	display: inline;
	width: 40%;
	border-radius: 0%;
	margin-top: 30px;
}

#parent_email {
	margin-left: 105px;
}

#last_IEP_date {
	margin-left: 95px;
}

#setting {
	margin-left: 165px;
}

#eligibility {
	margin-left: 145px;
}

#addStudentBtns {
	text-align: right;
	margin-bottom: 20px;
}

#deleteStudent {
	float: left;
	width: 45px;
}

/*add goal form*/
#addGoalCont {
	text-align: center;
}

#manageGoalFor {
	background: url("../images/manageGoal.png") no-repeat;
	background-size: 90px;
	background-position: center;
	width: 100%;
	height: 100px;
	font-family: "Londrina Outline";
	color: #888;
	padding-top: 20px;
	font-size: 55px;
}

#selectGoal {
	font-family: "Londrina Outline";
	color: #888;
	font-size: 35px;
	margin: 0px;
	letter-spacing: 0.05em;
}

/*add objective form*/
#addObjCont {
	text-align: center;
}

#manageObjectivesFor {
	background: url("../images/manageGoal.png") no-repeat;
	background-size: 90px;
	background-position: center;
	width: 100%;
	height: 100px;
	font-family: "Londrina Outline";
	color: #888;
	padding-top: 20px;
	font-size: 55px;
}

#selectObj {
	font-family: "Londrina Outline";
	color: #888;
	font-size: 35px;
	margin: 0px;
	letter-spacing: 0.05em;
}

/*add task form */

#addTaskCont {
	text-align: center;
}

#manageTasksFor {
	background: url("../images/manageGoal.png") no-repeat;
	background-size: 90px;
	background-position: center;
	width: 100%;
	height: 100px;
	font-family: "Londrina Outline";
	color: #888;
	padding-top: 20px;
	font-size: 55px;
}

#taskDescription {
	font-family: "Londrina Outline";
	color: #888;
	font-size: 35px;
	margin: 0px;
	letter-spacing: 0.05em;
}

#description {
	height: 100px;
	width: 300px;
	margin-left: 30%;
}

/*add evaluation form */

#addEvalCont {
	text-align: center;
}

#evalForm {
	width: 30%;
	margin-left: 35%;
}

#manageEval {
	background: url("../images/manageGoal.png") no-repeat;
	background-size: 90px;
	background-position: center;
	width: 100%;
	height: 100px;
	font-family: "Londrina Outline";
	color: #888;
	padding-top: 20px;
	font-size: 55px;
}


#addEvalDate, #addEvalComment, #addEvalScore {
	font-family: "Londrina Outline";
	color: #888;
	font-size: 30px;
	margin: 0px;
	letter-spacing: 0.05em;
	margin-top: 20px;
}


#saveObjective, #saveGoal, #saveTask {
	margin-left: 10px;
	border: 1px solid #606060;
	border-radius: 5%;
	background-color: #c0d890;
	color: #555;
	font-family: "Londrina Solid";
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
}

#cancelObjective, #cancelGoal, #cancelTask {
	border: 1px solid #606060;
	border-radius: 5%;
	background-color: #ed4337;
	color: #f3f3f3;
	font-family: "Londrina Solid";
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
}

#cancelLink {
	color: #f3f3f3;
}